@tailwind base;
@tailwind components;
@tailwind utilities;


/*Navigation Bar CSS */
.Navbar{
  display: flex;
  justify-content: space-around;
  align-items:center;
  /*min-height: 10vh;*/
  background-color: #649552;
  color: #FFFFFF;
  padding: 30px 10px;
}

/*Länkarna till Navigation bar
.nav-link{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}*/

nav a:hover{
  color: #000000;
}

body {
  /*margin: 0;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #001000;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


main{
  padding: 0px 30px;
}

h1{
  font-size: 2rem;
  padding-top: 1.5rem;
  font-weight: bold;
}

h2{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

h3{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}


/*Kommentera ut för att fylla hela fönstret eller ändra width: för att ändra bredden
@media(min-width: 450px) {

  body{
      width: 450px;
  }
  
}
*/
